<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>
<body class="bg-gradient-to-r from-sky-200 to-green-200">
<div style="background-color: #003366; padding: 50px 0 0 0;">
    <nav class="navbar navbar-expand-lg navbar-light shadow-md">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='images/NASS.png') }}" alt="NASS Logo" style="height: 40px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/courses">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registration">Registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    {% if session.get('logged_in') %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin_dashboard">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>

<div style="background-color: #003366; padding: 5px 0 5px 0;">
    <!-- Welcome Message 
    <div class="welcome-message">
        <marquee behavior="scroll" direction="left" style="color: white; font-size: 24px; font-weight: bold;">Welcome to Nigerian Army School of Signals.</marquee>
    </div> -->
</div>

    <div class="container mt-8">
        {% block content %}{% endblock %}
    </div>

<footer class="text-dark text-center py-3 mt-4 rounded-top" style="background-color: #FFD700;">
        <p>&copy; 2024 Nigerian Army School of Signals</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
