{% extends 'base.html' %} 
{% block title %}Courses{% endblock %} 
{% block content %} 
    <h1 class="text-center text-primary mb-4">Available Courses</h1> 
    <div class="row"> 
        
        <div class="col-12 col-md-6">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <h5 class="card-title text-info">OFFICERS COURSE - Junior Level</h5>
                    <p class="card-text text-secondary">Junior Level Course, Basic Computer Course (BCC), Electronic Warfare Course Officers, Young Officers Course, VSAT Installation and Management Course, Satellite Communication Officers Basic Course, UAV Officers Basic Course.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <h5 class="card-title text-info">OFFICERS COURSE - Mid Level</h5>
                    <p class="card-text text-secondary">Signal Squadron Commanders’ Course (SSCC), Communication Equipment Course Officers, Advanced Computer Course Officers, Satellite Communication Officers Advance Course, Signals Officers Engineering Course (SOEC).</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <h5 class="card-title text-info">OFFICERS COURSE - Senior Level</h5>
                    <p class="card-text text-secondary">Signal Regiment Commanders’ Course (SRCC).</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <h5 class="card-title text-info">SOLDIERS COURSE - Basic</h5>
                    <p class="card-text text-secondary">Technical Course (TC) X III, Linesman Course B III, Postal Service and Dispatch Rider Course III, Basic Computer Course, NAWANI Hardware Course, Computer Hardware Course, Computer Networking Course, VSAT Installation and Management Course, Computer Hardware, Software Course, Computer Networking Course Y3, Computer Programming and Installation Course Y3, Database Management Course Y3, Hardware & Software Maintenance Course Y3, Satellite Communication Soldiers Basic Course B3, UAV Soldiers Basic Course B3.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <h5 class="card-title text-info">SOLDIERS COURSE - Medium Level</h5>
                    <p class="card-text text-secondary">Technical Course (TC) X2, Radio Operator B2, Linesman Course B2, Postal Service and Dispatch Rider Course PSDR B2, Advance Computer Course, Advanced VSAT Management Course, Advanced Computer Hardware Course, Computer Networking Course CNC Y2, Computer Programming and Installation Course CPI Y2, Database Management Course DBM Y2, Hardware & Software Maintenance Course HSMC Y2, Satellite Communication Soldiers Course B2, UAV Soldiers Course B2.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <h5 class="card-title text-info">SOLDIERS COURSE - Advanced Level</h5>
                    <p class="card-text text-secondary">Technical Course (TC) X 1, Linesman Course B1, Radio Operator B1, Postal Service and Dispatch Rider Course PSDR B1, Computer Networking Course CNC Y1, Computer Programming and Installation Course CPI Y1, Database Management Course DBM Y1, Hardware & Software Maintenance Course HMSC Y1, Satellite Communication Soldiers Course B1, UAV Soldiers Course B1.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <h5 class="card-title text-info">SOLDIERS COURSE - Management/Specialist Level</h5>
                    <p class="card-text text-secondary">Yeoman of Signals.</p>
                </div>
            </div>
        </div>

    </div> 
    <p class="text-center mt-4 text-muted">More courses are being added...</p> 
{% endblock %}