{% extends 'base.html' %}
{% block title %}Registration - Page 6{% endblock %}
{% block content %}
    <h1 class="text-center text-success mb-4">Student Registration - Page 6</h1>
    <form method="post" action="{{ url_for('registration_page_6') }}" class="shadow-lg rounded-lg p-4 bg-white" enctype="multipart/form-data">
        <h2 class="text-center mb-3">Previous Military Courses Attended</h2>
        <div class="form-group">
            <label class="text-secondary">Previous Military Courses:</label>
             <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Serial</th>
                            <th>Name of Institution</th>
                            <th>Year From</th>
                            <th>Year To</th>
                            <th>Cert Obtained</th>
                            <th>Grade Obtained</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" class="form-control" name="military_serial[]"></td>
                            <td><input type="text" class="form-control" name="military_name[]"></td>
                            <td><input type="date" class="form-control" name="military_year_from[]"></td>
                            <td><input type="date" class="form-control" name="military_year_to[]"></td>
                            <td><input type="text" class="form-control" name="military_cert[]"></td>
                            <td><input type="text" class="form-control" name="military_grade[]"></td>
                            <td><input type="text" class="form-control" name="military_remarks[]"></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" name="military_serial[]"></td>
                            <td><input type="text" class="form-control" name="military_name[]"></td>
                            <td><input type="date" class="form-control" name="military_year_from[]"></td>
                            <td><input type="date" class="form-control" name="military_year_to[]"></td>
                            <td><input type="text" class="form-control" name="military_cert[]"></td>
                            <td><input type="text" class="form-control" name="military_grade[]"></td>
                            <td><input type="text" class="form-control" name="military_remarks[]"></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" name="military_serial[]"></td>
                            <td><input type="text" class="form-control" name="military_name[]"></td>
                            <td><input type="date" class="form-control" name="military_year_from[]"></td>
                            <td><input type="date" class="form-control" name="military_year_to[]"></td>
                            <td><input type="text" class="form-control" name="military_cert[]"></td>
                            <td><input type="text" class="form-control" name="military_grade[]"></td>
                            <td><input type="text" class="form-control" name="military_remarks[]"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <button type="button" class="btn btn-secondary" onclick="window.history.back();">Previous</button>
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
{% endblock %}
